<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Custom
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openCamera()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
	<ion-card>
	  <img src="assets/imgs/nin-live.png"/>
		  <ion-card-content>
		    <ion-card-title>
		      Nine Inch Nails Live
		      </ion-card-title>
		    <p>
		      The most popular industrial group ever, and largely
		      responsible for bringing the music to a mass audience.
		    </p>
	  </ion-card-content>
	</ion-card>
</ion-content>
