<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content>
	<video id ="myVideo"></video>
	<button ion-button full (click)="takeSnapshot()">Snap</button>
	<canvas id="myCanvas" style="visibility: hidden;"></canvas>
</ion-content>